{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h2>Привет, я автор</h2>
    <p>Меня зовут Виктория Титова. Я начинающий Питонист.</p>
    <p>Я владею английским языком, в том числе свободно разговариваю и есть опыт работы с технической документацией.</p>
    <p>Легко и быстро завожу друзей среди коллег: всегда готова улыбнуться и пожелать хорошего дня.</p>
    <p>Ответственно подхожу к работе, люблю структурированность и другие длинные слова.</p>
    <p>Я на github 
    <a href="https://github.com/Aenika">
      https://github.com/Aenika
    </a>
    </p>
    <p>В свободное время играю в настольные игры, смотрю и читаю фантастику, мечтаю о том, как буду крутым программистом.</p>
  </div>
{% endblock %}